# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias h="history"

# Git
alias pull='for dir in ~/puc/git/*; do echo "->" $dir && cd $dir && git pull && cd ..; done'
alias status='for dir in ~/puc/git/*; do echo "->" $dir && cd $dir && git status && cd ..; done'
alias push='for dir in ~/puc/git/*; do echo "->" $dir && cd $dir && git push && cd ..; done'
