# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias h="history"

write-atom-packages() {
  ls -ad $HOME/.atom/packages/*/ | \
    sed -E 's/^.*\/(.*)\/$/\1/' > \
    $HOME/.dotfiles/atom-packages
  git -C $HOME/.dotfiles status
  echo
  echo "Wrote new package info to ~/.dotfiles. Remember to commit the .dotfiles"
}

restore-atom-packages() {
  cat $HOME/.dotfiles/atom-packages | xargs apm install
}

# GoSys
alias pull='for dir in ~/gosys/git/*; do echo "->" $dir && cd $dir && git pull && cd ..; done'
alias status='for dir in ~/gosys/git/*; do echo "->" $dir && cd $dir && git status && cd ..; done'
alias push='for dir in ~/gosys/git/*; do echo "->" $dir && cd $dir && git push && cd ..; done'
