#!/usr/bin/env bash

export JAVA_8_HOME=`/usr/libexec/java_home -v 1.8`
export JAVA_HOME=$JAVA_8_HOME

# Maven configuration
export M2_REPO="$HOME/.m2/repository"
export M2_HOME="/usr/local/Cellar/maven/3.5.3/libexec"
export M2="/usr/local/Cellar/maven/3.5.3/libexec/bin"
export MAVEN_OPTS="-Djavax.net.ssl.trustStore=/Users/denschu/.keystore"

#AWS
export AWS_EB_PROFILE=codecentric
