[color]
	ui = true

[user]
	name = Dennis Schulte
	email = mail@dennis-schulte.de

[core]
	excludesfile = ~/.dotfiles/.gitignore
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
